*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.stdform input{
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
    position: relative;
}

.stdtable2{
   
    right: 0;
}
